header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $header_footer;
    padding: 2vh;

    nav {
        ul {
            display: flex;
            gap: 100px;
            list-style: none;
        }
    }

    .search {
        display: flex;
        align-items: center;
        position: relative;
        input {
            border: none;
            border-radius: 5px;
            padding: 5px;
        }
        button {
            position: relative;
            right: 2.2em;
            padding: 5px 8px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}